body {
    font-family: 'Dosis', 'sans-serif';
    color: #ffffff;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.bg {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: auto;
    right: auto;
    z-index: -1;
}
div.outer {
    width: 100%;
    height: 100%;
    padding: 0;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}
div.middle {
    padding: 0;
    vertical-align: middle;
    display: table-cell;
    margin: 0;
}
div.inner {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}
div.name {
    font-weight: 200;
    font-size: 3em;
}
div.bio {
    font-weight: 200;
    font-size: 1.4em;
}
div.line {
    margin: 30px auto;
    width: 80%;
    border-bottom: 1px dotted #DDDDDD;
}
div.icons {
    align-self: center;
    margin-top: 20%;

}
.button {
    width: 40px;
    height: 40px;
    opacity: 0.7;
}
a {
    text-decoration: none;
}
a:link {
    color: #ffffff;
}
a:visited {
    color: #ffffff;
}
a:hover {
    color: #ffffff;
}
a:active {
    color: #ffffff;
}